input.ng-invalid.ng-touched {
  border: 2px solid red;
}
.input_error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
.submitbtn:focus,
.canclebtn:focus {
  outline: 0 !important;
}
.custom-form {
  border-radius: 35.5rem 4.5rem 22.5rem 7.5rem/1.5rem 22.5rem 1.5rem 25.5rem;
}
