<!--Search Banner-->
<section class="search-banner text-white py-3 form-arka-plan  mb-5" id="search-banner">
  <div class="container py-5 my-5">
    <div class="row text-center pb-4">
      <!--Banner Header-->
      <div class="col-md-12">
        <h1 class="text-white siyah-cerceve">Dogs</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card acik-renk-form">
          <div class="card-body">
            <div class="row justify-content-md-center mb-5">
              <h2 class="title">
                <i class=" title_fas fas fa-paw add-Green"></i>
                Select Your Wanted Category First
                <i class=" title_fas fas fa-paw add-Green"></i>
              </h2>
            </div>
            <div class="row">
              <!--select dropDown-->
              <div class="col-md-4">
                <div class="form-group ">
                  <!-- iller -->
                  <select #categorySelect id=" select" class=" select form-control">
                    <option value="" disabled selected>Select Category</option>
                    <option *ngFor=" let category of  selectedTypeCategories" [value]="category.categoryId">
                      {{category.name}}</option>
                  </select>
                </div>
              </div>
              <!--select dropDown-->
              <div class=" col-md-4">
                <div class="form-group ">
                  <!-- ilceler -->
                  <select #genderSelect id=" select" class="select form-control ">
                    <option value="" disabled selected>Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>

                  </select>
                </div>
              </div>
              <!--select dropDown-->
              <div class="col-md-4">
                <div class="form-group ">
                  <!-- arac-turu -->
                  <select #ageSelect id="select" class="select form-control ">
                    <option value="" disabled selected>Select age</option>
                    <option value="1">between 1-2 years old</option>
                    <option value="2">between 3-5 years old</option>
                    <option value="3">More than 6 years old</option>
                  </select>
                </div>
              </div>
            </div>

            <!--Search -->
            <div class="row">
              <!--Search TextBox-->
              <div class="col-md-9">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Search for SomeThing else ?">
                </div>
              </div>
              <!--Search Btn-->
              <div class="col col-md-3 ">
                <button id="searchbtn" type="button" class="button"
                  (click)="searchClick(categorySelect,genderSelect,ageSelect)">Search</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="Introduction--Box container-fluid mb-3">

  <!-- Intoduction box component -->
  <div class="container  Introduction--Box--info ">
    <div class="row ">
      <div class="col-md-auto justify-content-md-center  ">
        <h1 class=" Introduction--Box--info__paragraph   text-center">We have a range of pet
          information to help you look after your pet which you can download or read online. If you can’t
          find what you are looking for or you are concerned about your pet, we always recommend that you
          contact your vet. Your pet might be entitled to veterinary services through Blue Cross.</h1>
        <h2 class="Introduction--Box--info__Question text-center">What animal are you seeking information for?
        </h2>
      </div>


    </div>
  </div>
</section>

<!--Display Animal Types-->
<section class="pets--box">
  <div class="container container-fluid ">
    <div class="row justify-content-md-center   ">
      <div class="pets--box--catalog justify-content-md-center   ">
        <div class="row justify-content-center ">

          <!--Animcal rounded Photo Crad-->
          <div *ngFor="let item of displayed"
            class="col-lg-2 col-lg-auto col-md-auto  col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center  mb-5">
            <img class=" rounded-circle pets--box--catalog--info__photo" [attr.src]="item.image">
            <h4 class="">{{item.name}}</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<!--PAGINATION-->
<section class="container-fluid ">
  <div class="pagination-area">
    <ul class="pagination">
      <li>
        <a href="" class="pagination-icon pagination-item">&lt;</a>
      </li>
      <li><a href="" class="pagination-item ">1</a></li>
      <li><a href="" class="pagination-item active">2</a></li>
      <li><a href="" class="pagination-item">3</a></li>
      <li>
        <a href="" class="pagination-item pagination-icon">&gt;</a>
      </li>
    </ul>
  </div>
</section>