<!--Search Banner-->
<section class="search-banner text-white py-3 form-arka-plan  mb-5" id="search-banner">
  <div class="container py-5 my-5">
    <div class="row text-center pb-4">
      <!--Banner Header-->
      <div class="col-md-12">
        <h1 class="text-white siyah-cerceve">Dogs</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card acik-renk-form">
          <div class="card-body">
            <div class="row">
              <!--select dropDown-->
              <div class="col-md-4">
                <div class="form-group ">
                  <!-- iller -->
                  <select id=" select " class=" select form-control ">
                    <option value="" disabled selected>Select Breed</option>
                    <option>Affenpinscher</option>
                    <option>Afghan Hound</option>
                    <option>Akita</option>
                    <option>Alaskan Malamute</option>
                  </select>
                </div>
              </div>
              <!--select dropDown-->
              <div class="col-md-4">
                <div class="form-group ">
                  <!-- ilceler -->
                  <select id=" select" class="select form-control ">
                    <option value="" disabled selected>Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>

                  </select>
                </div>
              </div>
              <!--select dropDown-->
              <div class="col-md-4">
                <div class="form-group ">
                  <!-- arac-turu -->
                  <select id="select" class="select form-control ">
                    <option value="" disabled selected>Select age</option>

                    <option>between 1-2 years old</option>
                    <option>between 3-5 years old</option>
                    <option>More than 6 years old</option>



                  </select>
                </div>
              </div>
            </div>

            <!--Search -->
            <div class="row">
              <!--Search TextBox-->
              <div class="col-md-9">
                <div class="form-group ">
                  <input type="text" class="form-control" placeholder="Search for SomeThing else ?">
                </div>
              </div>
              <!--Search Btn-->
              <div class="col col-md-3 ">
                <button id="searchbtn" type="button" class="button">Search</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="Introduction--Box container-fluid mb-3">

  <!-- Intoduction box component -->
  <div class="container  Introduction--Box--info ">
    <div class="row ">
      <div class="col-md-auto justify-content-md-center  ">
        <h1 class=" Introduction--Box--info__paragraph   text-center">We have a range of pet advice
          information to help you look after your pet which you can download or read online. If you can’t
          find what you are looking for or you are concerned about your pet, we always recommend that you
          contact your vet. Your pet might be entitled to veterinary services through Blue Cross.</h1>
        <h2 class="Introduction--Box--info__Question text-center">What animal are you seeking advice for?
        </h2>
      </div>


    </div>
  </div>
</section>

<!--Display Animal Types-->
<section class="pets--box">
  <div class="container container-fluid ">
    <div class="row justify-content-md-center   ">
      <div class="pets--box--catalog col-md-auto justify-content-md-center   ">
        <div class="row justify-content-md-center ">

          <!--Animcal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center  mb-5">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog1.jpg">
            <h4 class="">Affenpinscher</h4>
          </div>

          <!--Animcal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center  mb-5">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog2.jpg">
            <h4 class="">Afghan Hound</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog3.jpg">
            <h4 class="">Airedale Terrier</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center  mb-5">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog4.jpg">
            <h4 class="">Akita</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog5.jpg">
            <h4 class="">Alaskan Malamute</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog6.jpg">
            <h4 class="">American English Coonhound</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center  mb-5">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog7.jpg">
            <h4 class="">American Eskimo Dog</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog8.jpg">
            <h4 class="">American Foxhound</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  " src="../../assets/images/discover//dog9.jpg">
            <h4 class="">American Staffordshire Terrier</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  "
              src="../../assets/images/discover//dog10.jpg">
            <h4 class="">American Water Spaniel</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class="  rounded-circle pets--box--catalog--info__photo pets--box--catalog--info__photo  "
              src="../../assets/images/discover//dog11.jpg">
            <h4 class="">Anatolian Shepherd Dog</h4>
          </div>

          <!--Animal rounded Photo Crad-->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 pets--box--catalog--info text-center mb-5 ">
            <img class=" rounded-circle pets--box--catalog--info__photo  "
              src="../../assets/images/discover//dog12.jpg">
            <h4 class="">Australian Cattle Dog</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--PAGINATION-->
<section class="container-fluid ">
  <div class="pagination-area">
    <ul class="pagination">
      <li>
        <a href="" class="pagination-icon pagination-item">&lt;</a>
      </li>
      <li><a href="" class="pagination-item ">1</a></li>
      <li><a href="" class="pagination-item active">2</a></li>
      <li><a href="" class="pagination-item">3</a></li>
      <li>
        <a href="" class="pagination-item pagination-icon">&gt;</a>
      </li>
    </ul>
  </div>
</section>