<div class="container-fluid no-gutters p-0 ">
    <div class="col-sm-12 banner-image ">
      <div class="row align-items-center banner-image__banner-content">
        <div class="align-self-center title">
          <div><i class="fas fa-paw add-Green banner-icon mb-3"></i></div>
          <p class="banner-title">Contact Us</p>
        </div>
      </div>
    </div>
    <!-- gray-part -->
    <div class="col-sm-12 pt-3 pb-2 blog-path">
      <div class="row">
        <div class="col-sm-6 col-md-4  offset-1">
          <ul class="clearfix">
            <li>
              <a [routerLink]="'/Home'"><span class="fa fa-home"></span> Home / </a>
            </li>
            <li class="active new"> Contact</li>
          </ul>
        </div>
      </div>
    </div>
   
  </div>
  <div class="container mt-5">
    <div class="row justify-content-between">
      <div class="col-lg-6  col-md-12">
        <div class="row justify-content-start">
          <div class="col-12 form-header">
            <h2>Send us a message!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 mt-3">
                      <label class="input-label">Name*</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <input  class="form-control  form-control-lg mb-1 " type="text"/>

                    </div>
                  </div>
                </div>
                <div class="col-6">
                    <div class="row">
                      <div class="col-12 mt-3">
                        <label class="input-label">Email Address*</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <input  class="form-control  form-control-lg mb-1 " type="email"/>
  
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mt-3">
                          <label class="input-label">Subject*</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                            <input  class="form-control  form-control-lg mb-1 " type="text"/>
    
                        </div>
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-12 mt-3">
                            <label class="input-label">Message*</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                              <textarea  rows="4" class="form-control  form-control-lg mb-1 " type="text"></textarea>
      
                          </div>
                        </div>
                  </div>
                </div>
                <div class="row mt-4 mb-4">
                  <div class="col-6">
                    <input type="submit" class="input-submit" value="Send Message">
                    
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 information-part">
        <div class="row">
          <div class="col-12">
            <h2 class="information-part__header">Information</h2>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
            <p class="information-part__text">Mei te apeirian omittantur reformidans, duo in appetere interesset concludaturque. Est eruditi erroribus liberavisse in.</p>
            </div>
          </div>
          <div class="row row align-items-end contacts">
            <div class="col-12">
          
              <div class="row ">
                  <div class="col-12 contacts__email">
                      <span><i class="fas fa-envelope"></i> </span><span> email@yoursite.com</span>
                  </div>
                </div>
                <div class="row ">
                    <div class="col-12 contacts__email">
                        <span><i class="fas fa-phone"></i> </span><span> email@yoursite.com</span>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-12 contacts__email">
                          <span><i class="fas fa-map-marker"></i> </span><span>  Pet Street 123 - New York</span>
                      </div>
                    </div>
            </div>
          </div>
      </div>
    </div>
  </div>
