//colors

$color-primary:#94C13D;
$color-black:#111111;
$color-gray :rgba(228, 228, 230, 0.836);
$color-gray-light :#555;
$color-gray-white:#f3f0f0;
$color-white:#ffffff; 
$gray-200:rgb(202, 198, 198); 
$gray-dark:rgb(161, 156, 156);
$color-white:#ffffff;
$light :#F7F9F3;
$dark:#262626;
$banner-length:25rem;

//fonts
$BannerFontSize: 1.7rem;
$BannerfontFamily: "Open Sans, Arial, Helvetica, Verdana, Sans-Serif";
$BannerlinearGridantColor: rgba(0, 122, 202, 0.7);
$IntroductionTextSize: 1.7rem;
$IntroductionParagraphSize: 1.2rem;
