 <!-- list -->
 <!-- <div class="container ">
    <div class="row">
      <div class="col-md-3 mt-4"> -->
   
        <div id="search-form ">
          <div class="search">
            <input type="text" name="search" class="round" placeholder="Search..." />
            <button type="submit" class="corner" value=""><i class="fa fa-search"></i></button>
          </div>
        </div>

        <!-- filter list -->
     

              <!-- tags section -->

              <section>
               
                      <div class="left-sidebar my-4">
                        
                        <div class="card-group tag" id="accordian">
                          <div class="row tag-list ">
                            <div class="col col-12">
                              <div class="card ">
                                <div class="card-header">
                                  <h4 class="card-title">
                                    
                                      <a href=""> Cat</a>
                                    
                                  </h4>
                                </div>
                                
                              </div>
            
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="card">
                                <div class="card-header">
                                  <h4 class="card-title">
                                   
                                      <a href=""> Dog</a>
                                   
                                  </h4>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="card">
                                <div class="card-header">
                                  <h4 class="card-title">
                                    <a href="">Birds</a>
                                  </h4>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="card">
                                <div class="card-header">
                                  <h4 class="card-title"><a href="#">Others</a></h4>
                                </div>
                              </div>
                            </div>
                          </div>
                         
                        </div>
            
                       
                      </div>
              
            
              </section>
            
      <!-- </div>

     
    </div>
  </div> -->