<!-- list -->
<!-- <div class="container ">
    <div class="row">
      <div class="col-md-3 mt-4"> -->

<!-- <div id="search-form ">
          <div class="search">
            <input type="text" name="search" class="round" placeholder="Search..." />
            <button type="submit" class="corner" value=""><i class="fa fa-search"></i></button>
          </div>
        </div> -->

<!-- filter list -->

<!-- tags section -->

<section>
  <div class="left-sidebar my-4 text-center">
    <div class="card-group tag" id="accordian">
      <div class="row  ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-paw add-Green"></i>
                Find Your Pet
                <i class="fas fa-paw add-Green"></i>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row tag-list ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title">
                <a (click)="allClick.next()"> All</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row  ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title">
                <a (click)="catClick.next()"> Cat</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <a (click)="dogClick.next()"> Dog</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <a (click)="birdClick.next()">Birds</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <a (click)="othersClick.next()">Others</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
