
<!-- filter list -->

<div class="blog-sidebar bg-light-custom  h-50 border-irregular1  ml-5 mt-3">
    <!-- <app-sidebar></app-sidebar> -->
    <div class="card mt-5">
      <h6 class="blog-sidebar-header pt-5"> Find Your Pet</h6>
      <div class="blog-sidebar-tages">
        <!-- <app-tag-listing></app-tag-listing> -->
        <div class="blog-sidebar-tages-list list-group">
          <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="allClick.next()">
            All
          </a>
          <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="catClick.next()">
            Cat
          </a>
          <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="dogClick.next()">
            Dog
          </a>
          <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="birdClick.next()">
            Birds
          </a>
          <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="othersClick.next()">
            Others
          </a>
  
        </div>
      </div>
    </div>
  </div>
  
  
<!-- tags section -->

<!-- <section>
  <div class="left-sidebar my-4 text-center">
    <div class="card-group tag" id="accordian">
      <div class="row  ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-paw add-Green"></i>
                Find Your Pet
                <i class="fas fa-paw add-Green"></i>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row tag-list ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title">
                  <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="allClick.next()"> 
                    All
                    </a> -->
                <!-- <a (click)="allClick.next()"> All</a> -->
              <!-- </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row  ">
        <div class="col col-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title">
                  <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="catClick.next()">
                      Cat
                      </a> -->
                <!-- <a (click)="catClick.next()"> Cat</a> -->
              <!-- </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                  <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="dogClick.next()">
                      Dog
                      </a> -->
                <!-- <a (click)="dogClick.next()"> Dog</a> -->
              <!-- </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                  <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="birdClick.next()">
                      Birds
                      </a> -->
                <!-- <a (click)="birdClick.next()">Birds</a> -->
              <!-- </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                  <a class=" blog-sidebar-tages-list-item list-group-item-action " (click)="othersClick.next()">
                      Others
                      </a> -->
                <!-- <a (click)="othersClick.next()">Others</a> -->
              <!-- </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
