<div class="container-fluid  no-gutters ">
  <div class="row bg-light-color padding-y-small padding-x-big">
    <div class="col-md-auto add-font-small align-self-center">
      <i class="fas fa-phone  add-Green"></i>
      Call Us Now
      <span class=" add-Bold add-font-small">034-256-7850</span>
    </div>
    <div class="col-md-auto add-font-small align-self-center ">
      <i class="fas fa-envelope-open  add-Green"></i>

      Send Us Email
      <span class=" add-Bold">support@charitemax.com</span>
    </div>
    <div class="col-md-auto add-font-small ml-lg-auto">
      <div class="row no-gutters">
        <div class="col-auto align-self-end">
          <p class="navbar__sign-in__p">
            <i class="fas fa-user-alt navbar__sign-in__user"></i>
          </p>
        </div>
        <div
          class="col-auto ml-3 align-self-center navbar__sign-in__text"
          align="center"
        >
          <p>
            <a [routerLink]="'Login'">Sign In</a> /
            <a [routerLink]="'Register'">Register</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-auto add-font-small align-self-center">
      <i class="fa fa-twitter padding-small"></i>
      <i class="fa fa-facebook-official padding-small"></i>
      <i class="fa fa-google-plus-official padding-small"></i>
      <i class="fa fa-youtube-play padding-small"></i>
      <i class="fa fa-pinterest-p padding-small"></i>
    </div>
  </div>
</div>
