<div class="container ">
<div class="row  section_#1">
 <div class="col-md-6 about">
     
    
       <h3 class="about_title add-Green"> Caring for your pets</h3>
       <p class="about_content"> Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
        Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.
    </p>
    <ul class="about_content mt-4">
        <li class="about-list mb-2"><i  class="fas fa-paw add-Green mr-1"></i>  Orci eget, viverra elit liquam erat volut pat phas ellus ac</li>
        <li class="about-list mb-2"> <i  class="fas fa-paw add-Green mr-1"> </i>  Ipuset phas ellus ac sodales Lorem ipsum dolor Phas ell</li>
        <li class="about-list mb-2"><i  class="fas fa-paw add-Green mr-1"></i>  Aliquam erat volut pat phas ellu</li>
    </ul>
</div>
 <div class="col-md-6 about about-img1">
     <img src="../../../assets/images/aboutimg1.jpg" class="img-fluid"/>
 </div>

</div>
<!-- counter section -->

<div class="row counter_section text-center justify-content-between mb-4">
    <div class="col-md-3  bg-light align-content-center card_container">
   
                <i class="fas fa-users"></i>
                <div class="cont">1500</div>
                <span class="card_type">Happy Clients</span>
       
    </div>

    <div class="col-md-3 bg-light align-content-center card_container mb-4 ">
   
            <i class="fas fa-dog"></i>
            <div class="cont">15</div>
            <span class="card_type">Profetionals</span>
   
</div>
<div class="col-md-3 bg-light align-content-center card_container mb-4 ">
   
    <i class="fas fa-award"></i>
        <div class="cont">12</div>
        <span class="card_type ">Prize</span>

</div>
<!-- <div class="col-md-2 bg-light align-content-center card_container">
   
        <i class="fas fa-users"></i>
        <div class="cont">1500</div>
        <span class="card_type">Happy Clients</span>

</div> -->
</div>

<!-- end of counter section  -->

<!-- our client's opinions -->
<h2  class="text-center">What Our Clients Say</h2>
<div class="row clients ">
<div class="col-md-6 client_1 ">
    <div class="row">
            <i class="fas fa-quote-left quote_1"></i>

        <p class="description1 col-md-11 text-center ">Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. 
            Maecenas at arcu risus. Donec commodo sodales ex, 
            scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximustg.
            Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
        </p>
           <div class="col-md-1"></div>         
    </div>

    <div class="team member_1 row text-center mt-4">
       
        <div class="col-md-5 ">
           <img class="rounded-circle"  src="../../../assets/images/team3.jpg"/>
       </div>

       <div class="col-md-6 mt-5  ">
           <div class="memberName add-Green">Jane Janeth</div>
           <div class="memberRole add-black">Librarian</div>
       </div>

    </div>
  
</div>

<div class="col-md-6 client_2">


        <div class="row">
            <div class="col-md-1"></div>
            <i class="fas fa-quote-left quote_2"></i>

                <p class="description2 col-md-11  ">Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. 
                    Maecenas at arcu risus. Donec commodo sodales ex, 
                    scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximustg.
                    Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                </p>
                      
                
            </div>
        
            <div class="team member_2 row text-center  mt-4">
               <div class="col-md-1"></div>
                <div class="col-md-5  ">
                   <img class="rounded-circle"  src="../../../assets/images/team2.jpg"/>
               </div>
        
               <div class="col-md-6  mt-5 ">
                   <div class="memberName add-Green">John Sadana</div>
                   <div class="memberRole add-black">Doctor</div>
               </div>
        
            </div>
          
</div>

</div>
<div class="col-md-1"></div>
</div>



