


<div class="container-fluid img-bg   ">
    <!-- <div class="row">
            <div class="col-md-8">
    
            </div>
        </div> -->
<div class="row four-cards-cont m-auto justify-content-center">
    <div class="col-md-8">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card  info-card ">
                    <div class="top-card text-center card justify-content-center px-2">
                        <div class="info add-white">
                             Adopting a new pet comes with a lot of change 
                                    for both pet and pet parent, You can discover which pet you want to adopt. </div>
                        <div class="border one mt-2 add-white"></div>
                        <div class="border two mb-2 mt-1 add-white"></div>
                        <h4 class="info2 add-white" [routerLink]="['/discover']">Discover Pets</h4>
                    </div>
                    <div class="card-body text-center ">

                        <div class="icon my-4 ">
                            <img src="../../../assets/images/adopt.png" alt="adoption" class="card4" width="50rem" height="50rem">
                        </div>

                        <h5 class="card-txt add-Green">Discover Pets </h5>
                        <div class="border one mt-2 "></div>
                        <div class="border two mb-2 mt-1"></div>
                        <p class="card-text mb-5">Discover which pet you want to adopt.</p>


                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card  info-card">
                    <div class="top-card text-center card justify-content-center px-2">
                        <div class="info add-white">   Adopting a new pet comes with a lot of change 
                                for both pet and pet parent,we help you to find your perfect pet breed.</div>
                        <div class="border one mt-2 add-white"></div>
                        <div class="border two mb-2 mt-1 add-white"></div>
                        <h4 class="info2 add-white" [routerLink]="['/choose-pet']">Finding the Right Pet</h4>
                    </div>
                    <div class="card-body text-center ">

                        <div class="icon my-4 ">
                            <img src="../../../assets/images/1810252.png" alt="adoption" class="card4" width="50rem"
                                height="50rem">
                        </div>

                        <h5 class="card-txt add-Green ">Finding the Right Pet</h5>
                        <div class="border one mt-2 "></div>
                        <div class="border two mb-2 mt-1"></div>
                        <p class="card-text mb-5">Get tips on figuring out who you should adopt.</p>


                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card  info-card">
                    <div class="top-card text-center card justify-content-center px-2">
                        <div class="info add-white">We’re here to help you every step of the way from 
                            “just looking” at over 250,000 adoptable pets, to bringing your pet home,
                             to living a long and happy life with your new family member.</div>
                        <div class="border one mt-2 add-white"></div>
                        <div class="border two mb-2 mt-1 add-white"></div>
                        <h4 class="info2 add-white">Pet Adoption FAQs</h4>
                    </div>
                    <div class="card-body text-center ">

                        <div class="icon my-4 ">
                            <img src="../../../assets/images/1496955.png" alt="adoption" class="card4" width="50rem"
                                height="50rem">
                        </div>

                        <h5 class="card-txt add-Green">Pet Adoption FAQs</h5>
                        <div class="border one mt-2 "></div>
                        <div class="border two mb-2 mt-1"></div>
                        <p class="card-text mb-5">Get answers to questions you haven't thought of.</p>


                    </div>

                </div>
            </div>


            

        </div>
      
    </div>
    
</div>
<!-- <div class="row">
        <div class="col-md-8">

        </div>
    </div> -->

</div>







<!------------------------->
<!-- <div class="card  info-card ">
    <div class="top-card text-center card justify-content-center px-2">
        <div class="info add-white">
             Adopting a new pet comes with a lot of change 
                    for both pet and pet parent, we’ve compiled a checklist to
                     help make the transition as smooth as possible. </div>
        <div class="border one mt-2 add-white"></div>
        <div class="border two mb-2 mt-1 add-white"></div>
        <h4 class="info2 add-white">New Adopters</h4>
    </div>
    <div class="card-body text-center ">

        <div class="icon my-4 ">
            <img src="./images/adopt.png" alt="adoption" class="card4" width="50rem" height="50rem">
        </div>

        <h5 class="card-txt add-Green">Checklist for New Adopters</h5>
        <div class="border one mt-2 "></div>
        <div class="border two mb-2 mt-1"></div>
        <p class="card-text mb-5">Help make the transition, as smooth as possible.</p>


    </div>

</div> -->