.img-bg{
    background-image: url(../../../assets/images/cat.png);
    background-position: right !important;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: auto;
}