<!-- <div *ngFor="let newpet of data "     >
      
  <pet-item  [pet]= 'newpet'></pet-item>
</div> -->

<head>
  <style>
    .my-pagination /deep/ .ngx-pagination li {
      background-color: #eff0ec;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 1rem;
      margin: 0.2rem;
    }

    .my-pagination /deep/ .ngx-pagination .current {
      background: #94c13d;
      font-size: 1.2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1.1rem;
      padding-bottom: 1.2rem;
    }

    .my-pagination /deep/ .ngx-pagination .pagination-next,
    .my-pagination /deep/ .ngx-pagination .pagination-previous {
      background-color: #eff0ec;
    }
  </style>
</head>


<div class="container">
  <div class="row my-5">
    <div class="col-md-3">
      <!-- (catClick)="getCats()" (dogClick)="getDogs()" (birdClick)="getBirds()"   (othersClick)="getOthers()" -->
      <filtring-list (allClick)="getAllTypes()" (catClick)="getByPetType(1)" (dogClick)="getByPetType(2)"
        (birdClick)="getByPetType(3)" (othersClick)="getOthers()">
      </filtring-list>
    </div>
    <div class="col-md-9">
      <div class="row ">

        <div *ngFor="let newpet of  data | paginate: config" class="col-md-4  ">
          <!-- |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" -->
          <!-- (pageClick)="nextPage()" -->
          <pet-item [pet]='newpet' (removeClick)="deletePet(newpet.petId)"></pet-item>

        </div>
      </div>

      <!-- <div class="row ">
    (data | slice:data.filter())
              <div *ngFor="let newpet of data "  ng-repeat="i in range(4,6)" class="col-md-3  "  >
              
                <pet-item  [pet]= 'newpet'></pet-item>
              
            </div>
        </div> -->
    </div>

  </div>
</div>

<!--------------------pagination----------------------->
<div class="row mt-5">
  <div class="col-12" align="center">
    <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>

<!-----------------------image-break-------------------->
<div class="container-fluid no-gutters my-5">
  <div class="row ">
    <div class="col-md-12 bg-cont">
      <div class="bg-overlay-1 text-center "></div>
    </div>
  </div>
</div>


<!--Recently viewed pets -->

<div class="container justify-content-center">
  <div class="row justify-content-center mb-4">
    <h1 class="add-Green row-title add-Bold">Most Viewed Pets</h1>
  </div>
  <div class="row  justify-content-center mb-4">

    <div *ngFor="let pet of mostViewed  " class="col-md-3  ">
      <!-- (data | slice:-3) -->
      <pet-item [pet]='pet'></pet-item>

    </div>
  </div>
</div>
































<!--------------------------------------------------------------------------------------------->
<!-- <div class="row my-5">
    
      <div *ngFor="let newpet of data "   class="col-md-3  "  >
      
        <pet-item  [pet]= 'newpet'></pet-item>
      
    </div>
    <div class="row my-5">
    
        <div *ngFor="let newpet of data "   class="col-md-3 mx-3 "  >
        
          <pet-item  [pet]= 'newpet'></pet-item>
        
      </div>
  </div>
</div> -->
<!-- <div class="col-md-3 card  mx-3">
      <div class="container-of-image ">
        <img src="./images/cat1.jpg" alt="Avatar" class="image" />
        <div class="overlay"></div>
      </div>
      <div class="card-body text-center">
        <h2 class="add-Green add-Bold">Bossy</h2>
        <h4>Female , Adult</h4>
        <h4>Classic Persian</h4>
        <a class="show" href="#"><i class="fa fa-eye "></i></a>
        <a class="edit" href="#"><i class="fa fa-edit "></i></a>
      </div>
    </div>
    <div class="col-md-3 card  mx-3">
      <div class="container-of-image ">
        <img src="./images/cat2.jpg" alt="Avatar" class="image" />
        <div class="overlay"></div>
      </div>
      <div class="card-body text-center">
        <h2 class="add-Green add-Bold">Meshmesh</h2>
        <h4>Male , Kitty</h4>
        <h4>Ragamuffin</h4>
        <a class="show" href="#"><i class="fa fa-eye "></i></a>
        <a class="edit" href="#"><i class="fa fa-edit "></i></a>
      </div>
    </div> -->

<!-- <div class="row my-5 ">
    
      <div *ngFor="let newpet of data "     >
        <div class="col-md-12 card  ">
        <pet-item  [pet]= 'newpet'></pet-item>
      </div>
    </div>
   
  </div> -->