<div class="card blog-card">
  <div class="blog-card-info  border-irregular2 text-muted">
    <i class="fas fa-paw add-Green mr-1"></i>{{ post.month }} {{ post.day }}, {{ post.year }} by <a href="#">{{ username }}</a> /
    <a><i class="fas fa-comment margin-icon"></i> {{ postCommentsCount }} comments</a>
  </div>
  <a>
    <img class="card-img-top img-fluid" [src]="post.image" alt="" />
  </a>
  <div class="blog-card-body">
    <a>
      <h2 class="blog-card-body-title  mt-3">
        <a [routerLink]="['Post-details', post.id]">{{ post.title }}</a>
      </h2>
    </a>
    <div>
      <p class="text mt-3 text-overflow-elipses">
        {{ post.body }}
      </p>
    </div>

    <a [routerLink]="['Post-details', post.id]" class="btn btn--irregular p-2 mb-5">Read More →</a>
  </div>
</div>
