<section class="SvgHeader mb-3 text-center">
    <div class="container-fluid  SvgHeader--Box  ">
        <div class="row ">
            <!--SVG Header-->
            <div class="col-md-auto justify-content-md-center SvgHeader--Box--container  ">
                <div class="row">
                    <h1 class="SvgHeader--Box__title mb-5  ">How to Choose a Pet for Your Family</h1>
                </div>
            <!--SVG Cruve-->
                <div class="row">
                    <div class="c-hero__bottom-curve  ">
                        <svg viewBox="0 0 1600 35" preserveAspectRatio="none" id="hero-curve-bottom"
                            xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <path fill="#FFF" d="M0 .3V35h1600V0C973 44.9 635 42.9 0 .3z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="Search--result container-fluid ">
  <div class=" container container-fluid  search--result--Box  ">

    <!--Description with photo-->
    <div class="row my-5 ">
      <div class="col-md-6 how-img">
        <img src="../../../assets/images//ch1.jpg" class="rounded img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <h4 class="add-Green">Evaluating Your Lifestyle</h4>
        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to
                            run and grow your own freelance business.</h4> -->
        <h5 class="text-muted"><b>Think about your current pets.</b> If you're thinking of adding a new pet to your
          home, think about the pets you have now. You want to select a pet that will fit into your current household
          and some types of pets may not do well with certain animals.</h5>
        <ul>
          <li>
            <h5>Does your current pet get along well with pets of the same species? Some dogs and cats, if they were in
              a single pet household for a long time, may be aggressive or territorial with a new dog or cat.</h5>
          </li>
          <li>
            <h5>There could also be safety risks at play. For example, cats and dogs may prey on animals like rodents,
              guinea pigs, and rabbits. This is something to consider before getting a new pet.</h5>
          </li>
          <li>
            <h5>When in doubt, talk to your veterinarian about what breeds of animals get along best with your type of
              pet.</h5>
          </li>
        </ul>


      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <h5 class="text-muted"><b>Keep the age of your children in mind.</b> Your child's age can help you determine
          what sort of pet to get. Younger children may do better with animals that require less responsibility,
          especially if you don't personally have the time commitment to care for a pet yourself.</h5>
        <ul>
          <li>
            <h5>Older children, who are able to care for a pet themselves, may do better with dogs or cats. Rabbits can also be good pets for older children because they can be very hard to take care of and can be very complex to understand. Dogs and cats may also dislike being handled by younger children. However, some dogs are very patient with young kids, and an older dog that is already well trained may do fine with children in a family.</h5>
          </li>
          <li>
            <h5>If you want a less hands-on pet for your young children, things like fish and birds can be great additions to your home. However, make sure you choose a kid-friendly bird, like a parakeet, and supervise your children's interactions with the bird outside its cage.</h5>
          </li>
         
        </ul>
      </div>
      <div class="col-md-6 how-img">
        <img src="../../../assets/images/ch2.jpg" class="rounded img-fluid" alt="" />
      </div>
      <div>

      </div>
    </div>
    <div class="row ">
        <div class="col-md-6 how-img">
          <img src="../../../assets/images/ch3.jpg" class="rounded img-fluid" alt="" />
        </div>
        <div class="col-md-6">
          
          <h5 class="text-muted"><b>Think about what types of pets your home could accommodate.</b> Where you live makes an impact on the type of pet you can have. Not all homes can accommodate every type of animal. Evaluate your house and think about which animals would do well in your current living situation.</h5>
          <ul>
            <li>
              <h5>Think about the size of your home. Many apartments have guidelines as to what kind of pets are accepted (including weight requirements and maybe additional rent or fees). If you live in a very small apartment or house, a larger dog with a high energy level may not be a great pet. In those situations, you may do better with a laid back house cat.</h5>
            </li>
            <li>
              <h5>If you're considering a pet that you can keep outdoors, like a rabbit, think about winter. Do you have a place to keep an outdoor pet warm during the winter? Would you be willing to bring an outdoor pet inside for the colder months?</h5>
            </li>
            
          </ul>
  
  
        </div>
      </div>

      <div class="row my-5">
          <div class="col-md-6">
            <h5 class="text-muted"><b>Review the time commitment for various pets.</b> Think about how much time you reasonably have. This can affect the type of pet you get. Certain pets require a bigger time commitment than others.</h5>
            <ul>
              <li>
                <h5>Some animals require a lot of time for care and training. Younger animals, like puppies and kittens, require more care than older animals, like dogs and cats. Some pets, like dogs, also require more hands-on care than options like fish, rodents, and guinea pigs.</h5>
              </li>
              <li>
                <h5>Think about your other household members. How much help are you going to get when it comes to bringing up a pet? If your children or spouse are willing to put in a lot of time for training, a new puppy may be manageable even if you have a very busy schedule.</h5>
              </li>
             
            </ul>
          </div>
          <div class="col-md-6 how-img">
            <img src="../../../assets/images/ch4.jpg" class="rounded img-fluid" alt="" />
          </div>
          <div>
    
          </div>
        </div>
        <div class="row ">
            <div class="col-md-6 how-img">
              <img src="../../../assets/images/ch5.jpg" class="rounded img-fluid" alt="" />
            </div>
            <div class="col-md-6">
              
              <h5 class="text-muted"><b>
                  Gather everyone's opinions.</b> Even if you're making the final decision, talk to everyone in your family. This can help you make the decision, especially if you're stuck deciding between several potential options. Someone may feel strongly one way or another, and that factor could help you decide.</h5>
             
      
      
            </div>
          </div>
    <hr class="style13">

    <!--Description with photo-->
    <div class="row my-5 ">
        <div class="col-md-6 how-img">
            <img src="../../../assets/images/ch6.jpg" class="rounded img-fluid" alt="" />
          </div>
          <div class="col-md-6">
            <h4 class="add-Green">
              Reviewing Costs</h4>
            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to
                                run and grow your own freelance business.</h4> -->
            <h5 class="text-muted"><b>
              Create a budget. </b> Before selecting your pet, spend some time budgeting. Write down your income and your total expenses for the month to get a sense of how much disposable income you have. Think about how much of that you're willing or able to put towards a pet.</h5>
            <ul>
              <li>
                <h5>You should also take into account that your first month with a new pet may be more expensive. The pet will need a lot of extra care and you will need to factor in the cost of purchase.</h5>
              </li>
             
            </ul>
    
    
          </div>

    </div>

    <div class="row my-5">
        <div class="col-md-6">
          <h5 class="text-muted"><b>Think about diet.</b> Some animals cost more to feed than others. Something like a fish may only need a few flakes of pellets once a day. A pet like a dog or a cat, however, will require dry or canned food a couple of times a day, which can eat up your budget quickly.</h5>
          <ul>
            <li>
              <h5>Certain animals may require specific diets that can get expensive. Parrots, for example, have to have a diet comprised of pellets, nuts, and vegetables.</h5>
            </li>
            <li>
              <h5>Talk to a veterinarian or someone at a pet store about the diets for various pets. See if the cost of food is reasonable for you and your family before settling on a pet.</h5>
            </li>
            <li>
                <h5>In addition to the cost of food, weigh in things like food and water bowls.</h5>
              </li>
          </ul>
        </div>
        <div class="col-md-6 how-img">
          <img src="../../../assets/images/ch7.jpg" class="rounded img-fluid" alt="" />
        </div>
        <div>
  
        </div>
      </div>

      <div class="row my-5">
          <div class="col-md-6 how-img">
              <img src="../../../assets/images/ch8.jpg" class="rounded img-fluid" alt="" />
            </div>
            <div class="col-md-6">
             
              <h5 class="text-muted"><b>Consider vet bills.</b> Some pets need to be taken to the vet more than others. Vet bills are very expensive and prices tend to increase with time. Before selecting a pet, think about whether you can afford a vet.</h5>
              <ul>
                <li>
                  <h5>If you opt for a young pet, like a puppy or kitten, you're likely to spend more on vet bills as the pet will need frequent trips for things like vaccinations. A much older dog or cat may also cost more in vet bills as they'll be prone to health problems.</h5>
                </li>
                <li>
                    <h5>Some animals do not require frequent, if any, visits to the vet. A fish, for example, is fairly hands off.</h5>
                  </li>
                  <li>
                      <h5>Exotic pets may cost more for an upfront purchase, and costs may be higher overall. You may need special food or a special vet for something like, say, a squirrel.</h5>
                    </li>
              </ul>
      
      
            </div>
  
      </div>

      <div class="row my-5">
          <div class="col-md-6">
            <h5 class="text-muted"><b>Look at the cost of general care.</b> Some pets simply cost more than others overall. When considering a pet, think about everything that goes into paying for that pet's care. This should help give you a sense of whether that pet is affordable for you.</h5>
            <ul>
              <li>
                <h5>Some pets require a lot of expenses for care. Dogs, for example, may need to see groomers regularly, may eat more, especially if you get a larger breed, and require toys for entertainment.</h5>
              </li>
              <li>
                <h5>Other pets may seem somewhat inexpensive, especially in terms of vet bills, but come with a lot of upfront costs. While a fish may not be too pricey when it comes to food and veterinary visits, you will need to invest in a lot of aquarium equipment upfront when purchasing a fish.</h5>
              </li>
              
            </ul>
          </div>
          <div class="col-md-6 how-img">
            <img src="../../../assets/images/ch9.jpg" class="rounded img-fluid" alt="" />
          </div>
          <div>
    
          </div>
        </div>
    <hr class="style13">

    <!--Description with photo-->
    
    

</div>
</section>
