<section class="AnimalDetails container-fluid mb-5 ">
  <div class="container   ">
    <div class="row  justify-content-around ">
      <!-- //category image -->
      <div class="col-md-6 mt-6">
        <br />
        <div class="row  justify-content-md-center   ">
          <img
            [attr.src]="category.image"
            alt=""
            class="img border-irregular1 border-double img-fade"
          />
        </div>
      </div>
      <!-- //category information -->
      <div class="col-md-1 col-sm-12"></div>

      <div
        class="col-md-5  mt-6 border-irregular1  bg-light-custom text-center category p-6 "
      >
        <br />
        <h2 class="spanage-title img-fade  category_title ">
          {{ category.name }}
        </h2>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Size:
            <span class="category_info2">Large</span>
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Height:
            <span class="category_info2"
              >Males – 24 to 27 inches <br />
              &nbsp; &nbsp; &nbsp; &nbsp; Females - 23 to 25 inches</span
            >
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Weight:
            <span class="category_info2">50 to 75 spanounds</span>
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Coat:
            <span class="category_info2">Medium</span>
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Color:
            <span class="category_info2">
              Red-and-white ticked, blue-and-white ticked, tricolor with
              ticking, red and white, and white and black
            </span>
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Energy:
            <span class="category_info2">High</span>
          </span>
        </div>
        <br />
        <div class="row pl-5">
          <span class="category_info1"
            >Activities:
            <span class="category_info2"
              >Field Trials, Conformation, Hunting, Tracking, Obedience</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row mx-auto">
  <div class="col-12" align="center">
    <i class="fas fa-paw add-Green banner-icon mb-3 ml-5"></i>
  </div>
</div>

<!-- //related animals -->
<div class="row justify-content-center mt-5">
  <h1 class=" row-title ">Related Pets</h1>
</div>
<app-category-related-pets class="mt-5"></app-category-related-pets>
