
<div class="pagination-area">
    <ul class="pagination">
      <!-- <li>
        <a href="" class="pagination-icon pagination-item">&lt;</a>
      </li> -->
      
      <li *ngFor='let in of counter(countPerPage) ;let i = index'><a class="pagination-item" [class.active]="currentIteration === i"  [class.active]="i == 0" (click)="currentIteration = i">{{i+1}}</a></li>
     
      <!-- <li>
        <a href="" class="pagination-item pagination-icon">&gt;</a>
      </li> -->
    </ul>
  </div>

<!------------------------------------------------------------------------->

<!-- <div class="pagination-area">
    <ngb-pagination [collectionSize]="30" [(page)]="page" class="pagination-icon pagination-item"  >
    <ul class="pagination"> -->
      <!-- *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" -->
      <!-- <li><a  class="pagination-item active"  (click)="pageClick.next()" >1</a></li>
      <li><a  class="pagination-item" (click)="pageClick.next()" >2</a></li>
      <li><a  class="pagination-item" (click)="pageClick.next()"  >3</a></li>
      <ng-template ngbPaginationPrevious>&lt;</ng-template>
    <ng-template ngbPaginationNext>&gt;</ng-template>
    </ul>
  </ngb-pagination>
  </div> -->


  <!-------------------------------------------------------->
  <!-- <div class="pagination-area">
  <ngb-pagination [collectionSize]="30" [(page)]="page" aria-label="Default pagination"  class="pagination-icon pagination-item" >
    <ng-template ngbPaginationPrevious>&lt;</ng-template>
    <ng-template ngbPaginationNext>&gt;</ng-template>
  </ngb-pagination>
</div> -->