
<!-- footer -->
<div class="container-fluid no-gutters footer mt-5">
  <div class="row footer-row my-5  m-auto justify-content-center footer-font">
    <div class="col-md-3 text-left  my-5 ">
      <div><img src="./images/logooooo.png" alt="girl" class="mt-3 footer-logo text-center" /><span class="logo-name add-Green"> Aleefy</span></div>

      <p class="footer-font" style="color: white">We provide everything pets need to live a happy and healthy life.</p>
      <a href="#"> <i class="fa fa-twitter padding-small  social-media my-5" style="color:white"></i></a>
      <a href="#"> <i class="fa fa-facebook-f padding-small  f-aw  social-media" style="color:white"></i></a>
      <a href="#"> <i class="fa fa-google-plus padding-small  f-aw  social-media" style="color:white"></i></a>
      <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw  social-media" style="color:white"></i></a>
      <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw social-media" style="color:white"></i></a>
    </div>
    <div class="col-md-2 text-left  my-5">
      <h2 class="my-3 col-title" style="color: white">Pets</h2>
      <div class="footer-border one mt-2 text-left add-Green"></div>
      <div class="footer-border two mb-2 mt-1 text-left add-Green"></div>
      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Pet Care</a></div>
      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Pet Talk</a></div>

      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Veterinary</a></div>

      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Dog</a></div>

      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Cat</a></div>

      <div><i class="fas fa-paw add-Green"></i>&nbsp &nbsp<a href="#" class="footer-info">Login</a></div>
    </div>
    <div class="col-md-3 text-left   my-5 ">
      <h3 class="my-3 col-title" style="color: white">Recent Posts</h3>
      <div class="footer-border one mt-2 text-left "></div>
      <div class="footer-border two mb-2 mt-1 text-left"></div>
      <div class="row text-left">
        <div class="col-md-4">
          <img src="./images/dog3.jpg" alt="dog" style="height:7rem;" />
        </div>
        <div class="col-md-8">
          <p>Nine-year old princess hair donating now</p>
          <p class="add-Green">Aug 25, 2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br />
        </div>
      </div>
      <div class="row text-left">
        <div class="col-md-4">
          <img src="./images/dog2.jpg" alt="dog" style="height:7rem;" />
        </div>
        <div class="col-md-8">
          <p>City town host charity 5km run for poor people</p>
          <p class="add-Green">Sep 31, 2018</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-left  my-5 ">
      <div class="row ">
        <div class="col-md-12">
          <h2 class="my-3 col-title" style="color: white">Contact</h2>
          <div class="footer-border one mt-2 text-left "></div>
          <div class="footer-border two mb-2 mt-1 text-left"></div>
          <div>
            <p><i class="fas fa-map-marker-alt " style="color:rgb(201, 193, 193)"></i>&nbsp &nbsp 3571 Ringer House, Cairo, Egypt</p>
          </div>
          <div>
            <p><i class="fas fa-phone fa-rotate-90 " style="color:rgb(201, 193, 193)"></i>&nbsp &nbsp Support: +(034) 256 7850</p>
          </div>

          <div>
            <p><i class="far fa-envelope  " style="color:rgb(201, 193, 193)"></i>&nbsp &nbsp Email: info@example.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-footer m-auto mt-5  m-auto justify-content-center ">
    <div class="col-md-4 my-5">
      <div>Copyrights © 2018 <span class="add-Green">Aleefy</span>. All rights reserved.</div>
    </div>
    <div class="col-md-4 my-5 offset-md-3">
      <div class="row ">
        <div class="col-md-4"><a href="#">Privacy Policy</a></div>
        <div class="col-md-4"><a href="#">Sitemap</a></div>
        <div class="col-md-4"><a href="#">Terms of Use</a></div>
      </div>
    </div>
  </div>
</div>