<div class="row mb-5">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12  col-lg-2 comments__comment-image">
                <img height="100" width="100"
                [src]="commentUser.image">
            </div>
            <div class="col-sm-12 col-lg-8 comments__comment">
                <div class="row">
                    <div class="col-12 comments__comment-owner"> {{commentUser.firstName}} </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3 comments__comment-text">
                      {{comment.body}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3 comments__comment-info">
                       {{comment.month}} {{comment.day}}, {{comment.year}} at {{comment.time}} :
                        <span class="fa fa-reply comments__comment-info__reply"> Reply</span>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <textarea class="textarea-reply" rows="2"
                            placeholder="reply..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
