<div class="left-sidebar mt-3">
  <h2>Tags</h2>
  <div class="card-group tag" id="accordian">
    <div class="row tag-list">
      <div class="col col-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">
              <a data-toggle="collapse" data-parent="#accordian" href="#cat">
                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                Cat
              </a>
            </h4>
          </div>
          <div id="cat" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">all</a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">food</a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">Care</a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">vitamins </a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">advice</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <a data-toggle="collapse" data-parent="#accordian" href="#dog">
                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                Dog
              </a>
            </h4>
          </div>
          <div id="dog" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li class="tag-list__item"><input type="checkbox" class=" checkbox form-check-input" value="" /><a href="">all</a></li>
                <li class="tag-list__item"><input type="checkbox" class=" checkbox form-check-input" value="" /><a href="">food</a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">Care</a></li>
                <li class="tag-list__item"><input type="checkbox" class=" checkbox form-check-input" value="" /><a href="">vitamins </a></li>
                <li class="tag-list__item"><input type="checkbox" class="checkbox form-check-input" value="" /><a href="">advice</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <a href="">Horses</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><a href="#">Fish</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><a href="#">Reptile</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Archeive</h2>
  <div class="card-group archive">
    <div class="archive-name">
      <ul class="nav nav-pills nav-stacked">
        <div class="row card">
          <div class="col col-12">
            <li>
              <h4 class="active">
                <a href=""> <span>March 2010</span> <span class="pull-right">(50)</span></a>
              </h4>
            </li>
          </div>
        </div>
        <div class="row card">
          <div class="col col-12">
            <li>
              <h4 class="active">
                <a href=""> <span>Jan 2012</span> <span class="pull-right">(88)</span></a>
              </h4>
            </li>
          </div>
        </div>
        <div class="row card">
          <div class="col col-12">
            <li>
              <h4 class="active">
                <a href=""> <span>Sep 2014</span> <span class="pull-right">(30)</span></a>
              </h4>
            </li>
          </div>
        </div>
        <div class="row card">
          <div class="col col-12">
            <li>
              <h4 class="active">
                <a href=""> <span>August 2017</span> <span class="pull-right">(60)</span></a>
              </h4>
            </li>
          </div>
        </div>
        <div class="row card">
          <div class="col col-12">
            <li>
              <h4 class="active">
                <a href=""> <span>May 2018</span> <span class="pull-right">(110)</span></a>
              </h4>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
