<section>
  <div class="container-fliud no-gutters">
    <div class="row no-gutters">
      <div class="col-sm-12 col-md-12 col-lg-2 pl-5">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-8 ml-5 add-post">
        <div class="replay-box">
          <div class="row no-gutters">
            <div class="col-sm-7">
              <h1 class="title ">Add Post</h1>
              <form  [formGroup]="addPostForm" class="add-post__form" style="display: flex;flex-direction:column">
                <div class="blank-arrow mt-3">
                  <label class="label">Post Title</label>
                </div>
                <input class="form-control post__title form-control-lg" type="text" placeholder="write The title of post...">
                <div class="blank-arrow mt-3">
                  <label class="label">Body</label>
                </div>
                <div class="form-group add-post--body">
                  <textarea name="editor1" class="form-control" id="FormTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <button class="theme-btn btn-style-one" type="submit">ADD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</section>