@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1.5, 1.5);
    }
    to {
      -webkit-transform: scale(1, 1);
      transform:matrix3d(1,0,0,1,0,0)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1.5, 1.5);
    }
    to {
      transform: scale(1, 1);
      transform:matrix3d(1,0,0,1,0,0)
    }
  }

.carousel-item.active{
    img{
      -webkit-animation: zoom 20s !important;
      animation: zoom 20s !important;
    }
}
.carousel-zoom.active{
    img{
      -webkit-animation: zoom 20s !important;
      animation: zoom 20s !important;
    }
}
$color-primary: #94c13d;
$color-black: #111111;
$color-gray: rgba(228, 228, 230, 0.836);
$color-gray-light: #555;
$color-gray-white: #f3f0f0;
h2 {
  color: $color-gray-light;
  text-align: center;
  margin-top: 2rem;
  margin-right: 3.2rem;
  font-weight: 600;
}

.our-team-box {
  position: relative;
  z-index: 1;
}

.cloned {
  width: 247.5px;
  margin-right: 30px;
}

figure.team-style2 {
  overflow: hidden;
  padding: 0px;
  background: #ffffff;
}

figure.team-style2 figcaption .icons i:hover {
  transform: scale(1.2);
}

figure.team-style2:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 1;
  left: -50%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
  transform: skewX(-30deg) translateX(-80%);
}
figure.team-style2 figcaption {
  position: absolute;
  left: 0;
  top: 5%;
  text-align: center;
  width: 60%;
  z-index: 1;
  opacity: 0;
  & .icons {
    width: 100%;
    padding: 8px 0;
    & a {
      transition: color 0.2s ease-in-out;
      color: $color-primary;
    }
  }
}
figure.team-style2 figcaption figure.team-style2 figcaption .icons i {
  display: block;
  font-size: 25px;
  color: #ffffff !important;
  margin-left: 35px;
  opacity: 0;
  height: 55px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  width: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  margin-bottom: 10px;
  background: $color-primary !important;
}

figure.team-style2:hover:before {
  transform: skewX(-30deg) translateX(0px);
}
figure.team-style2 .name {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  opacity: 1;
  background-color: #999898 !important;
  color: white;
  & h6 {
    font-size: 1.5rem !important;
    font-weight: 500;
    color: $color-primary;
  }
  h4 {
    font-size: 2.5rem !important;

    color: #fff;
  }
}

.btn {
  &--irregular {
    border-color: $color-primary;
    background: $color-primary;
    color: white;
    border-radius: 15.5rem 4.5rem 22.5rem 7.5rem/1.5rem 12.5rem 1.5rem 15.5rem;
    font-size: 1.2rem;
    outline: none;
    letter-spacing: 0.2px;
    font-weight: 600;
  }
}
.our-services {
  position: relative;
  z-index: 1;
  &__heading {
    margin-bottom: 8rem;
    & h2 {
      color: $color-black;
      margin-bottom: 0.8rem;
      font-family: "Quicksand", sans-serif;
      font-size: 4em;
      font-weight: 700;
      letter-spacing: -1px;
    }
    & div i {
      font-size: 3.5rem !important;
    }

    & h3 {
      font-family: "Quicksand", sans-serif;
      font-size: 3em;
      font-weight: 800;
      margin-bottom: 2rem;
      line-height: 1.2;
      letter-spacing: -1px;
    }
  }
}

ul.custom {
  list-style: none;
}

ul.custom li {
  padding: 0.5rem 0rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.border-double {
  border: 1rem double $color-gray;
}

.banner-icon {
  margin-top: 0.2rem;
  margin-left: 0rem;
  font-size: 1.4rem !important;
}

.service-icon {
  color: $color-gray-light;
  font-size: 8rem;
}

.service-box--icon {
  display: flex;
  justify-content: center;
  height: 9rem;
  margin-right: 6rem;
}
