.error_msg {
  color: red;
  font-size: 15px;
}
.hint,
.required {
  font-size: 17px;
}

$color-primary: #94c13d;

.btn {
  &--irregular {
    border-color: $color-primary;
    background: $color-primary;
    color: white !important;
    border-radius: 15.5rem 4.5rem 22.5rem 7.5rem/1.5rem 12.5rem 1.5rem 15.5rem;
    font-size: 1.4rem;
    outline: none;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #000;
  }
}

.custom-form {
  border-radius: 15.5rem 4.5rem 22.5rem 7.5rem/1.5rem 12.5rem 1.5rem 15.5rem;
}

textarea {
  resize: none;
}
