// .btn{
//     padding: .7rem;
//     background-color: $color-primary;
//     border: .1rem solid $color-primary;
//     color: $color-white
// }

.btn{
    text-transform: capitalize;
    transition: all .25s ease-in-out;
    padding: .5rem;
    font-size: 1.8rem;
    min-width: 10rem;
    text-align: center;
    line-height: 3.3rem;
    cursor: pointer;

    &--primary
    {
        border: .09rem solid $color-primary;
        border-radius: .3rem;
        color:$color-white;
        background: $color-primary;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            color:$color-white;
            box-shadow: 0 0 8rem rgba(15, 15, 15, 0.418);
        }

    }
    

}