<div class="container">
  <div class="row">
  <div class="col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active indicate"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indicate"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indicate"></li>
                  </ol>
                  <div class="carousel-inner">
                          <div class="carousel-item active">
                                  <div class="container">
                                          <div class="row">
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc5.jpg" alt="Avatar"
                                                                                  class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Diana Leslie</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc6.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Tania Vandy</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc7.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Scott William</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc8.jpg" alt="Avatar"   class="image">
                                                                          <div class="card-overlay" >
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Liam Irvines</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                          </div>
                                  </div>
  
                          </div>
                          <div class="carousel-item">
                                  <div class="container">
                                          <div class="row">
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc5.jpg" alt="Avatar"
                                                                                  class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Diana Leslie</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc6.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Tania Vandy</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc7.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Scott William</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc8.jpg" alt="Avatar"   class="image">
                                                                          <div class="card-overlay" >
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Liam Irvines</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                          </div>
                                  </div>
                          </div>
                          <div class="carousel-item">
                                  <div class="container">
                                          <div class="row">
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc5.jpg" alt="Avatar"
                                                                                  class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Diana Leslie</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc6.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Tania Vandy</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc7.png" alt="Avatar" class="image" width="500rem"  height="500rem">
                                                                          <div class="card-overlay">
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Scott William</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                          <div class="card-cont">
                                                                  <div class="container-of-image ">
                                                                          <img src="./images/doc8.jpg" alt="Avatar"   class="image">
                                                                          <div class="card-overlay" >
                                                                                  <a href="#"> <i class="fa fa-twitter padding-small f-aw "
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-facebook-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-google-plus-official padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-youtube-play padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                                  <a href="#"> <i class="fa fa-pinterest-p padding-small  f-aw"
                                                                                                  style="color:white"></i></a>
                                                                          </div>
                                                                  </div>
                                                                  <div class="card-body text-center">
                                                                          <h6 class="card-title  ">Volunteer</h6>
                                                                          <h4 class="vol-name">Liam Irvines</h4>
                                                                          <div class="border one mt-2"></div>
                                                                          <div class="border two mb-2 mt-1"></div>
  
                                                                  </div>
                                                          </div>
                                                  </div>
                                          </div>
                                  </div>
                          </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                  </a>
          </div>
  </div>
  </div>
  </div>