<div id="blog-home" class="page ">
  <div class="container-fluid no-gutters p-0 ">
    <div class="col-sm-12 banner-image ">
      <div class="row align-items-center banner-image__banner-content">
        <div class="align-self-center title">
          <div><i class="fas fa-paw add-Green banner-icon mb-3"></i></div>
          <p class="banner-title">Blog Home</p>
        </div>
      </div>
    </div>
    <!-- gray-part -->
    <div class="col-sm-12 pt-3 pb-2 blog-path">
      <div class="row">
        <div class="col-sm-6 col-md-4  offset-1">
          <ul class="clearfix">
            <li>
              <a [routerLink]="'/Home'"><span class="fa fa-home"></span> Home / </a>
            </li>
            <li class="active new">Blog</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- gray-part -->
    <div class="col-sm-12  " *ngIf="loginUser">
      <div class="row add-post__btn">
        <div class="col-sm-6 col-md-4  ">
          <a [routerLink]="'add-post'" class="btn btn--irregular p-2 mt-3 mb-2 vert-move">Add Post</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <p *ngIf="data.length == 0">error</p>
        <app-post-item *ngFor="let post of filterData ? filterData : data" [post]="post"></app-post-item>
      </div>
      <div class="blog-sidebar bg-light-custom  h-50 border-irregular1 col-lg-3 ml-5 mt-3">
        <!-- <app-sidebar></app-sidebar> -->
        <div class="card mt-5">
          <h6 class="blog-sidebar-header pt-5">Tages</h6>
          <div class="blog-sidebar-tages">
            <!-- <app-tag-listing></app-tag-listing> -->
            <div class="blog-sidebar-tages-list list-group">
              <app-tag-item *ngFor="let tag of tags" (tagClick)="filterPosts(tag.id)" [tag]="tag"></app-tag-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-12" align="center">
       <pagination-controls *ngIf="filterData ? filterData>0 : data>0" class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
