.user-profile__name{
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Satisfy', cursive;
    
    
    }

    .user-data{
        background: #cacec0;
        border:solid 0.2rem darkgrey;
        border-radius: 3rem;
        padding:3rem;
    }