@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1.5, 1.5);
    }
    to {
      -webkit-transform: scale(1, 1);
      transform:matrix3d(1,0,0,1,0,0)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1.5, 1.5);
    }
    to {
      transform: scale(1, 1);
      transform:matrix3d(1,0,0,1,0,0)
    }
  }

.carousel-item.active{
    img{
      -webkit-animation: zoom 20s !important;
      animation: zoom 20s !important;
    }
}