.title {
  color: black;
  font-size: 30px;
  &_fas {
    font-size: 30px;
    color: #94c13d;
  }
}
button {
  outline: none;
}
.border-irregular1 {
  padding: 6rem;
}
.pets--box--catalog--info__photo{
  height: 13rem;
}
