
.user-profile{
background-image: url(../../../../assets/images/bg.jpg);
//   



}
.user-profile__col{
    background-color: white;
    .rounded-circle{
        width:15.4rem;
    }
    
}
.user-profile__name,.user-profile__settings{
color: black;
font-weight: bold;
font-size: 2.5rem;
font-family: 'Satisfy', cursive;


}
.user-profile__settings{
    font-size: 1.5rem;
}

