.banner-image {
    background-image: url(../../../../assets/images/resources-slide.jpg);}
    .tags{
        a{
            color: #94c13d;
        }
        .first{
            color: black;
            text-decoration-line: underline;
        }
    }
    .social {
        font-size: 1.2rem;}